:root {
  --headerpadding: 6px;
  --headerheight: calc(89px + (var(--headerpadding) * 2));
  --headerfixed: 75px;
  --footerstrip: 52px;
  --primary: #051026 !important;
  --secondary: #0B1E47 !important;
  --orange: #FE912C;
  --blue: var(--secondary);
  --text: #666666;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #DCDCDC;
  --container: 1280px;
  --containerfluid: 2rem;
}
@media only screen and (max-width: 1152px) {
  :root {
    --containerfluid: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  :root {
    --containerfluid: 15px;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --headerfixed: 65px;
  }
}
@media only screen and (max-width: 675px) {
  :root {
    --headerheight: calc(70px + (var(--headerpadding) * 2));
  }
}
@media only screen and (max-width: 320px) {
  :root {
    --containerfluid: 10px;
  }
}

body::-webkit-scrollbar {
  width: 10px;
  background: var(--black);
}
body::-webkit-scrollbar-track {
  box-shadow: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
body.overflow-hidden {
  overflow: hidden;
  margin-right: 10px;
}
@media only screen and (max-width: 991px) {
  body.overflow-hidden {
    margin-right: 0;
  }
}
body.overflow-hidden header {
  width: calc(100% - 10px);
}
@media only screen and (max-width: 991px) {
  body.overflow-hidden header {
    width: 100%;
  }
}

.container-fluid, .header-wrapper {
  height: 100%;
}

.container-fluid-2 {
  padding: 0 var(--containerfluid);
  height: 100%;
  display: block;
  margin: 0 auto;
}

.container-2 {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1300px) {
  .container-2 {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 767px) {
  .container-2 {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container-2 {
    padding: 0 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container-2 {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 675px) {
  .container-2.container2 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 675px) {
  .container-2.container2 .heading {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container-2.container2 .heading {
    padding-right: 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container-2.container2 .heading {
    padding-right: 10px;
  }
}

header *, footer *, .ham-pop * {
  font-size: 16px;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
}
header button, footer button, .ham-pop button {
  padding: 0;
}
header ul, footer ul, .ham-pop ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header a[href], footer a[href], .ham-pop a[href] {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}
header a[href].logo, footer a[href].logo, .ham-pop a[href].logo {
  display: block;
  line-height: 0;
}
header svg path, footer svg path, .ham-pop svg path {
  transition: 0.5s ease;
}
header img, footer img, .ham-pop img {
  max-width: 100%;
}
header input, header button, header select, footer input, footer button, footer select, .ham-pop input, .ham-pop button, .ham-pop select {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
header input, footer input, .ham-pop input {
  border-radius: 0;
}
header input::-webkit-outer-spin-button, header input::-webkit-inner-spin-button, footer input::-webkit-outer-spin-button, footer input::-webkit-inner-spin-button, .ham-pop input::-webkit-outer-spin-button, .ham-pop input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
header input[type=number], footer input[type=number], .ham-pop input[type=number] {
  -moz-appearance: textfield;
}
header video, footer video, .ham-pop video {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header button, footer button, .ham-pop button {
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body, html {
  font-size: 16px;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
}

b {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

a[href] {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}
a[href].logo {
  display: block;
  line-height: 0;
}

svg path {
  transition: 0.5s ease;
}

.container {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1300px) {
  .container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container {
    padding: 0 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 675px) {
  .container.container2 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 675px) {
  .container.container2 .heading {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container.container2 .heading {
    padding-right: 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container.container2 .heading {
    padding-right: 10px;
  }
}

.container-fluid {
  padding: 0 var(--containerfluid);
  height: 100%;
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 48px;
  line-height: 1.17;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.05;
}

h3 {
  font-size: 36px;
  line-height: 1.06;
}

.heading h3, .heading h2 {
  font-size: 48px;
  line-height: 1;
  font-family: "Cinzel-regular";
  text-transform: uppercase;
}
@media only screen and (max-width: 1152px) {
  .heading h3, .heading h2 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 991px) {
  .heading h3, .heading h2 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 675px) {
  .heading h3, .heading h2 {
    font-size: 28px;
  }
}
.heading p {
  margin-top: 7px;
}
@media only screen and (max-width: 675px) {
  .heading p {
    font-size: 14px;
  }
}
.heading.h-large h3, .heading.h-large h2 {
  font-size: 64px;
}
@media only screen and (max-width: 1152px) {
  .heading.h-large h3, .heading.h-large h2 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 991px) {
  .heading.h-large h3, .heading.h-large h2 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 675px) {
  .heading.h-large h3, .heading.h-large h2 {
    font-size: 32px;
  }
}
.heading.h-medium h3, .heading.h-medium h2 {
  font-size: 36px;
}
@media only screen and (max-width: 991px) {
  .heading.h-medium h3, .heading.h-medium h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 675px) {
  .heading.h-medium h3, .heading.h-medium h2 {
    font-size: 24px;
  }
}
.heading.c-white h3, .heading.c-white h2 {
  color: var(--white);
}
.heading.c-white p {
  color: rgba(255, 255, 255, 0.7);
}

h4 {
  font-size: 36px;
  line-height: 1.28;
}

h5 {
  font-size: 24px;
  line-height: 1.167;
}
@media only screen and (max-width: 1152px) {
  h5 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 675px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 20px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.inline-flex {
  --gap: 12px;
  display: inline-flex;
  align-items: center;
  gap: 0 var(--gap);
}

img {
  max-width: 100%;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input {
  border-radius: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

video {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.tab-nav-content {
  position: relative;
}
.tab-nav-content .tabs:not(.active) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.item-md {
  position: relative;
}
.item-md figure {
  overflow: hidden;
  line-height: 0;
  height: 100%;
}
.item-md figure img, .item-md figure video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8s ease;
}
.item-md::before, .item-md::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 1;
}
.item-md::after {
  content: none;
}
.item-md figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.item-md .link-md {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.item-md.center figcaption {
  bottom: auto;
  top: 50%;
  translate: 0 -50%;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: 0s ease 0.5s, opacity 0.5s ease;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .overlay {
    z-index: 2;
  }
}
.overlay.is-open {
  transition: opacity 1s ease;
  opacity: 1;
  transform: translateY(0%);
}

.model {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 7;
  background: var(--white);
  background-position: 0% 80%;
  background-size: 75%;
  max-width: 435px;
  width: 100%;
}
.model .close:not(.btn) {
  position: absolute;
  top: 0;
  right: 0;
  top: 40px;
  right: 40px;
}
@media only screen and (max-width: 520px) {
  .model .close:not(.btn) {
    top: 20px;
    right: 20px;
  }
}
.model .close:not(.btn) path {
  stroke: var(--black);
}

.btn {
  --height: 34px;
  --padding: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  vertical-align: middle;
  height: var(--height);
  line-height: var(--height);
  padding: 0 var(--padding);
  overflow: hidden;
  text-transform: capitalize;
  color: var(--black);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  transition: 0.5s ease;
  caret-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid var(--primary);
  background: var(--primary);
  font-weight: 500;
  border-radius: 30px;
  z-index: 1;
  color: var(--white);
}
.btn path {
  fill: var(--white);
}
.btn.box {
  width: var(--height);
  padding: 0;
}
.btn.medium {
  --height: 40px;
  --padding: 27px;
  font-size: 16px;
}
.btn.white-border {
  background: none;
  border-color: var(--white);
  color: var(--white);
}
.btn.white-border path {
  fill: var(--white);
}
.btn.white-border:hover {
  background: var(--white);
  color: var(--primary);
}
.btn.white-border:hover path {
  fill: var(--primary);
}
.btn.black-border {
  background: none;
  border-color: var(--black);
  color: var(--black);
}
.btn.black-border path {
  fill: var(--black);
}
.btn.black-border:hover {
  background: var(--black);
  color: var(--white);
}
.btn.black-border:hover path {
  fill: var(--white);
}
.btn.primary-border {
  background: none;
  border-color: var(--primary);
  color: var(--primary);
}
.btn.primary-border path {
  fill: var(--primary);
}
.btn.primary-border:hover {
  background: var(--primary);
  color: var(--white);
}
.btn.primary-border:hover path {
  fill: var(--white);
}
.btn.white {
  background: var(--white);
  border-color: var(--white);
  color: var(--primary);
}
.btn.white path {
  fill: var(--primary);
}
.btn.white:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
.btn.white:hover path {
  fill: var(--white);
}
.btn.w-100 {
  width: 100%;
}

.custom-select {
  max-width: 100%;
  cursor: pointer;
  display: block;
  font-family: inherit;
  height: var(--selectheight);
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  padding: 0 var(--paddingleftright);
}
.custom-select::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 15%;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2211%22%20viewBox%3D%220%200%2017%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M15.75%201.875L8.5%209.125L1.25%201.875%22%20stroke%3D%22%23666666%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E");
  background-position: calc(100% - var(--paddingleftright)) 50%;
  background-repeat: no-repeat;
  background-size: auto 15%;
}
.custom-select .current {
  display: block;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--inputsize);
  color: var(--labelbefore);
  font-size: var(--labelfontbefore);
  font-weight: var(--font);
  text-align: left;
}
.custom-select .current.selected {
  color: var(--color);
}
.custom-select .list {
  text-align: left;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transform-origin: 50% 0;
  z-index: 7;
  max-height: 180px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  pointer-events: none;
}
.custom-select .list::-webkit-scrollbar {
  width: 4px;
  background: none;
  height: 4px;
}
.custom-select .list::-webkit-scrollbar-track {
  box-shadow: none;
}
.custom-select .list::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 5px;
}
.custom-select .list li {
  display: block;
  line-height: 1.2;
  padding: 7px 15px;
  white-space: break-spaces;
  font-size: 13px;
  font-weight: 500;
}
.custom-select .list li.selected {
  background: var(--secondary);
  color: var(--white);
}
.custom-select .list li.selected:hover {
  background: var(--secondary);
  color: var(--white);
}
.custom-select .list li:hover {
  background: #e2e2e2;
}
.custom-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(var(--item), calc((100% - var(--gaplr) * (var(--item) - 1)) / var(--item)));
  gap: var(--gaptb) var(--gaplr);
}
.form-grid .full {
  grid-column: span var(--item);
}

.form {
  --inputsize: 48px;
  --labelbefore: var(--text);
  --labelafter: var(--text);
  --borderbefore: var(--black);
  --borderafter: var(--secondary);
  --labelfontbefore: 16px;
  --labelfontafter: 14px;
  --font: 500;
  --color: var(--black);
  --borderwidth: 1px;
  --labelbackground: none;
  --font: normal;
  --textareaheight: 86px;
  --paddingleftright: 0px;
  --item: 1;
  --gaplr: 30px;
  --gaptb: 32px;
}
.form .form-group {
  position: relative;
  flex: 0 1 100%;
  max-width: 100%;
  width: 100%;
  --selectheight: var(--inputsize);
  line-height: 0;
}
.form .form-group.active::after {
  width: 100%;
}
.form .form-group::before, .form .form-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--borderwidth);
  transition: 0.5s ease;
}
.form .form-group::before {
  background: var(--borderbefore);
}
.form .form-group::after {
  width: 0;
  background: var(--borderafter);
}
.form .form-group label {
  font-weight: var(--font);
  position: absolute;
  top: calc(var(--inputsize) / 2 - var(--labelfontbefore) / 2);
  left: var(--paddingleftright);
  color: var(--labelbefore);
  line-height: 1;
  font-size: var(--labelfontbefore);
  background: none;
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.form .form-group input, .form .form-group textarea {
  height: calc(var(--inputsize) - var(--borderwidth));
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  cursor: initial;
  padding: 0 var(--paddingleftright);
}
.form .form-group input:focus, .form .form-group input.valid, .form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
}
.form .form-group input:focus ~ label, .form .form-group input.valid ~ label, .form .form-group textarea:focus ~ label, .form .form-group textarea.valid ~ label {
  font-size: var(--labelfontafter);
  color: var(--labelafter);
  top: calc(var(--labelfontafter) / -2);
  background: var(--labelbackground);
}
.form .form-group textarea {
  height: var(--textareaheight);
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  line-height: 1.2;
  cursor: initial;
  padding: 0 var(--paddingleftright);
  padding-right: 15px;
}
.form .form-group textarea::-webkit-scrollbar {
  width: 2px;
  background: none;
  height: 2px;
}
.form .form-group textarea::-webkit-scrollbar-track {
  box-shadow: none;
}
.form .form-group textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 15px;
}
.form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
  margin-top: 13px;
  height: calc(var(--textareaheight) - 13px);
}
.form .form-group select:focus {
  outline: none;
}
.form .form-group select ~ label {
  position: absolute;
  top: calc(var(--labelfontafter) / -2);
  left: var(--paddingleftright);
  color: var(--labelafter);
  translate: 0 0;
  font-size: var(--labelfontafter);
  opacity: 0;
  transition: 0.6s ease;
  background: var(--labelbackground);
}
.form .form-group select.valid {
  color: var(--color);
}
.form .form-group select.valid ~ label {
  opacity: 1;
}
.form .submit-grp {
  text-align: center;
  margin-top: 23px;
}

.banner {
  position: relative;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
}
.banner.center-banner .banner-wrapper {
  bottom: 50%;
  translate: 0 50%;
}
@media only screen and (max-width: 675px) {
  .banner.center-banner .banner-wrapper {
    bottom: 20%;
    translate: none;
    top: auto;
  }
}
@media only screen and (max-width: 675px) {
  .banner.center-banner .bg {
    height: 300px;
  }
}
.banner .bg {
  height: 750px;
  line-height: 0;
}
@media only screen and (max-width: 1366px) {
  .banner .bg {
    height: 100vh;
  }
}
@media only screen and (max-width: 1152px) {
  .banner .bg {
    height: 350px;
  }
}
.banner .bg video, .banner .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  z-index: 1;
}
.banner .banner-wrapper .title {
  margin-bottom: 7.75rem;
}
@media only screen and (max-width: 1152px) {
  .banner .banner-wrapper .title {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 675px) {
  .banner .banner-wrapper .title {
    margin-bottom: 2rem;
  }
}
.banner .banner-wrapper .search-form-wrap {
  max-width: 953px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 991px) {
  .banner .banner-wrapper .search-form-wrap {
    max-width: 718px;
  }
}
.banner .banner-wrapper .search-form-wrap select {
  border: none;
  background: none;
  color: #fff;
  height: var(--inputsize);
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.banner .banner-wrapper .search-form-wrap .form {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  --color: var(--white);
  --labelbefore: var(--white);
  --labelafter: var(--white);
  --borderbefore: var(--white);
  --borderafter: var(--white);
  --labelfontafter: 12px;
}
@media only screen and (max-width: 1152px) {
  .banner .banner-wrapper .search-form-wrap .form {
    gap: 22px;
  }
}
@media only screen and (max-width: 520px) {
  .banner .banner-wrapper .search-form-wrap .form {
    gap: 18px;
    --labelfontbefore: 14px;
    --labelfontafter: 12px;
  }
}
.banner .banner-wrapper .search-form-wrap .form .property_type, .banner .banner-wrapper .search-form-wrap .form .builder_select {
  flex: 0 1 197px;
}
@media only screen and (max-width: 991px) {
  .banner .banner-wrapper .search-form-wrap .form .property_type, .banner .banner-wrapper .search-form-wrap .form .builder_select {
    flex: 1;
  }
}
@media only screen and (max-width: 520px) {
  .banner .banner-wrapper .search-form-wrap .form .property_type, .banner .banner-wrapper .search-form-wrap .form .builder_select {
    flex: 0 1 100%;
  }
}
.banner .banner-wrapper .search-form-wrap .form .enter_location {
  flex: 1;
}
@media only screen and (max-width: 991px) {
  .banner .banner-wrapper .search-form-wrap .form .enter_location {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .banner .banner-wrapper .search-form-wrap .form .btn {
    flex: 0 1 100%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}
.banner .banner-wrapper h1, .banner .banner-wrapper p {
  color: var(--white);
}
.banner .banner-wrapper h1 {
  font-size: 64px;
  font-weight: normal;
  line-height: 1;
  font-family: "Cinzel-regular";
  text-transform: uppercase;
}
@media only screen and (max-width: 1366px) {
  .banner .banner-wrapper h1 {
    font-size: 54px;
  }
}
@media only screen and (max-width: 991px) {
  .banner .banner-wrapper h1 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .banner .banner-wrapper h1 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 675px) {
  .banner .banner-wrapper h1 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 520px) {
  .banner .banner-wrapper h1 {
    font-size: 32px;
  }
}
.banner .banner-wrapper p {
  font-size: 18px;
  line-height: 1.34;
  margin-top: 12px;
}
@media only screen and (max-width: 991px) {
  .banner .banner-wrapper p {
    font-size: 16px;
  }
}

.swiper-slide {
  height: auto;
}

.swiper-nav {
  line-height: 0;
}
.swiper-nav.center-full {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.swiper-nav.center-full .swiper-prev, .swiper-nav.center-full .swiper-next {
  pointer-events: all;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
.swiper-nav.group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 15px;
}
@media only screen and (max-width: 1152px) {
  .swiper-nav.group {
    gap: 0 8px;
  }
}
.swiper-nav.icon-width-auto .swiper-next svg, .swiper-nav.icon-width-auto .swiper-prev svg {
  width: auto;
  height: auto;
}

.swiper-prev svg, .swiper-prev img {
  transform: scaleX(-1);
}

.swiper-prev, .swiper-next {
  --height: 44px;
}
.swiper-prev.swiper-button-disabled, .swiper-next.swiper-button-disabled {
  cursor: no-drop;
  opacity: 0.4;
}

.swiper-pagination-bullets {
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-color: #B7B5B5;
  caret-color: transparent;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background: #989898;
  opacity: 1;
  caret-color: transparent;
}
.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--black);
}

.play-btn {
  --btnsize: 56px;
  --border: 2px;
  --bordercolor: var(--white);
  --playbtncolor: var(--white);
  height: var(--btnsize);
  width: var(--btnsize);
  border-radius: 50%;
  border: var(--border) solid var(--bordercolor);
  position: relative;
  background: none;
}
@media only screen and (max-width: 1024px) {
  .play-btn {
    --btnsize: 50px;
  }
}
@media only screen and (max-width: 675px) {
  .play-btn {
    --btnsize: 45px;
    --border: 1px;
  }
}
.play-btn::before {
  width: 100%;
  height: 100%;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  content: "";
  transform: translateX(-50%) translateY(-50%);
  background: var(--bordercolor);
  border-radius: 50%;
  display: block;
  animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.play-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 0;
  height: 0;
  border-top: calc(var(--btnsize) / 8) solid transparent;
  border-bottom: calc(var(--btnsize) / 8) solid transparent;
  border-left: calc(var(--btnsize) / 5.6) solid var(--playbtncolor);
}

.website-content > :first-child {
  margin-top: 0 !important;
}
.website-content h1 {
  font-size: 48px;
  margin-bottom: 45px;
  font-family: "Cinzel-regular";
  color: var(--primary);
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .website-content h1 {
    font-size: 32px;
  }
}
.website-content h2 {
  font-size: 34px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .website-content h2 {
    font-size: 24px;
    font-weight: 500;
  }
}
.website-content h3 {
  font-size: 28px;
  line-height: 1.21;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .website-content h3 {
    font-size: 22px;
  }
}
.website-content h4 {
  font-size: 22px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .website-content h4 {
    font-size: 18px;
  }
}
.website-content h5 {
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .website-content h5 {
    font-size: 16px;
  }
}
.website-content h6 {
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .website-content h6 {
    font-size: 16px;
  }
}
.website-content h2, .website-content h3, .website-content h4 {
  margin: 40px 0 18px;
}
.website-content h5, .website-content h6 {
  margin: 28px 0 18px;
}
.website-content p, .website-content li {
  color: var(--text);
  text-align: justify;
}
@media only screen and (max-width: 767px) {
  .website-content p, .website-content li {
    font-size: 14px;
  }
}
.website-content a {
  color: var(--black);
}
.website-content a:hover {
  text-decoration: underline;
}
.website-content p, .website-content ul {
  margin-bottom: 20px;
}
.website-content ul {
  padding-left: 18px;
}
@media only screen and (max-width: 675px) {
  .website-content ul {
    padding-left: 10px;
  }
}
.website-content ul li {
  position: relative;
  padding-left: 28px;
}
@media only screen and (max-width: 675px) {
  .website-content ul li {
    padding-left: 20px;
  }
}
.website-content ul li:not(:last-child) {
  margin-bottom: 6px;
}
.website-content ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--primary);
}
@media only screen and (max-width: 767px) {
  .website-content ul li::before {
    width: 8px;
    height: 8px;
    top: 6px;
  }
}
.website-content.website-content-white * {
  color: var(--white);
}

.lctn {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  --arrow: 20px;
  --space: 5px;
  position: relative;
  padding-left: calc(var(--arrow) + var(--space));
}
@media only screen and (max-width: 345px) {
  .lctn {
    font-size: 12px;
  }
}
.lctn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  height: var(--arrow);
  width: var(--arrow);
  background-image: url(../images/location-white.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  transition: 0.5s ease;
  transform-origin: center right;
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.property-col {
  --pad-b: 43px;
  --pad-l: 35px;
  --pad-r: 20px;
  --wtspsize: 50px;
  overflow: hidden;
}
@media only screen and (max-width: 1330px) {
  .property-col {
    --pad-b: 30px;
    --pad-l: 20px;
    --pad-r: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .property-col {
    --pad-b: 20px;
    --pad-l: 15px;
    --pad-r: var(--pad-l);
    --wtspsize: 38px;
  }
}
.property-col::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 75%);
}
.property-col.property-col-small {
  --pad-b: 35px;
  --pad-l: 22px;
  --pad-r: 18px;
  --wtspsize: 42px;
}
@media only screen and (max-width: 991px) {
  .property-col.property-col-small {
    --pad-b: 20px;
    --pad-l: 15px;
    --pad-r: var(--pad-l);
    --wtspsize: 38px;
  }
}
.property-col.property-col-small figcaption .fig-bottom > *:not(:last-child) {
  margin-right: 8px;
}
.property-col.property-col-small figcaption .fig-bottom .btn {
  font-size: 14px;
  --padding: 18px;
}
.property-col.blog-col figcaption {
  transform: none;
}
.property-col.blog-col figcaption .fig-top {
  padding-bottom: 0;
}
.property-col.blog-col figcaption .fig-top h6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.property-col.blog-col:hover figcaption .fig-top {
  padding-bottom: 0;
}
.property-col figure, .property-col .figure {
  display: block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.property-col figure::before, .property-col .figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
}
.property-col figure img, .property-col .figure img {
  aspect-ratio: 1.3;
  -o-object-position: right;
     object-position: right;
  width: 100%;
}
.property-col figcaption {
  padding: 0 var(--pad-r) var(--pad-b) var(--pad-l);
  transform: translateY(calc(var(--pad-b) + var(--wtspsize)));
  transition: 0.5s ease;
}
@media only screen and (max-width: 991px) {
  .property-col figcaption {
    transform: none;
    top: 0;
    padding-top: var(--pad-b);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
  }
}
.property-col figcaption .fig-top {
  padding-bottom: var(--pad-b);
  transition: 0.5s ease;
}
@media only screen and (max-width: 991px) {
  .property-col figcaption .fig-top {
    padding-bottom: 0;
    pointer-events: all;
  }
}
.property-col figcaption .fig-top h6 {
  font-family: "Cinzel-regular";
  font-size: 24px;
  line-height: 1.34;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .property-col figcaption .fig-top h6 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 675px) {
  .property-col figcaption .fig-top h6 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .property-col figcaption .fig-bottom {
    pointer-events: all;
  }
}
.property-col figcaption .fig-bottom > *:not(:last-child) {
  margin-right: 18px;
}
@media only screen and (max-width: 1330px) {
  .property-col figcaption .fig-bottom > *:not(:last-child) {
    margin-right: 10px;
  }
}
.property-col figcaption .fig-bottom .wtsp-btn {
  --height: var(--wtspsize);
  margin-left: 12px;
}
@media only screen and (max-width: 991px) {
  .property-col figcaption .fig-bottom .wtsp-btn {
    position: absolute;
    margin-left: 0;
    top: var(--pad-b);
    right: var(--pad-l);
    z-index: 2;
  }
}
@media only screen and (max-width: 991px) {
  .property-col figcaption .fig-bottom .wtsp-btn svg, .property-col figcaption .fig-bottom .wtsp-btn img {
    width: 18px;
    height: auto;
  }
}
.property-col figcaption .fig-bottom .wtsp-btn:hover {
  background: #25D366;
  border-color: #25D366;
}
@media only screen and (max-width: 991px) {
  .property-col figcaption .fig-bottom .uzax, .property-col figcaption .fig-bottom .bitu {
    display: none;
  }
}
.property-col:hover figure::before {
  animation: shine 0.4s linear;
}
.property-col:hover figcaption {
  transform: translateY(0);
}
.property-col:hover figcaption .fig-top {
  padding-bottom: 28px;
}
@media only screen and (max-width: 991px) {
  .property-col:hover figcaption .fig-top {
    padding-bottom: 0;
  }
}

.nav-group-tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.nav-group-tab .swiper-progress {
  color: var(--white);
  flex: 1;
  padding: 0 21px;
}
.nav-group-tab .swiper-prev, .nav-group-tab .swiper-next {
  flex: 0 1 auto;
}

.col-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 20px;
}
@media only screen and (max-width: 991px) {
  .col-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 20px;
  }
}
@media only screen and (max-width: 675px) {
  .col-grid {
    grid-template-columns: 100%;
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper {
    bottom: 10%;
  }
}
.banner.home-banner .banner-wrapper .content h1 span {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25em;
  display: block;
  margin-bottom: 23px;
}
@media only screen and (max-width: 1366px) {
  .banner.home-banner .banner-wrapper .content h1 span {
    font-size: 18px;
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .banner-wrapper .content h1 span {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .banner.home-banner .banner-wrapper .content h1 span {
    font-size: 14px;
    margin-bottom: 14px;
  }
}

.home-secA {
  padding: 62px 0;
  background: var(--primary);
  --padding: 4rem;
}
@media only screen and (max-width: 1366px) {
  .home-secA {
    --padding: 3rem;
  }
}
@media only screen and (max-width: 1330px) {
  .home-secA {
    --padding: 30px;
  }
}
@media only screen and (max-width: 1152px) {
  .home-secA {
    --padding: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .home-secA {
    --padding: 15px;
    padding: 50px 0;
  }
}
@media only screen and (max-width: 345px) {
  .home-secA {
    --padding: 13px;
  }
}
.home-secA .secA-wrapper {
  padding-left: var(--padding);
}
@media only screen and (max-width: 1152px) {
  .home-secA .secA-wrapper {
    padding-right: var(--padding);
  }
}
@media only screen and (max-width: 767px) {
  .home-secA .secA-wrapper {
    padding-right: 0;
  }
}
.home-secA .secA-wrapper .upper-sec {
  padding-right: var(--padding);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 46px;
}
@media only screen and (max-width: 1330px) {
  .home-secA .secA-wrapper .upper-sec {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1152px) {
  .home-secA .secA-wrapper .upper-sec {
    padding-right: 0;
  }
}
.home-secA .secA-wrapper .upper-sec .home-proprty-tab {
  flex: 1;
  padding-right: 1rem;
}
@media only screen and (max-width: 767px) {
  .home-secA .secA-wrapper .upper-sec .home-proprty-tab {
    padding-right: 0;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }
}
.home-secA .secA-wrapper .upper-sec .home-proprty-tab li {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
  caret-color: transparent;
  transition: 0.5s ease;
}
@media only screen and (max-width: 520px) {
  .home-secA .secA-wrapper .upper-sec .home-proprty-tab li {
    font-size: 14px;
  }
}
.home-secA .secA-wrapper .upper-sec .home-proprty-tab li:not(:last-child) {
  margin-right: 3.75rem;
}
@media only screen and (max-width: 1330px) {
  .home-secA .secA-wrapper .upper-sec .home-proprty-tab li:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 520px) {
  .home-secA .secA-wrapper .upper-sec .home-proprty-tab li:not(:last-child) {
    margin-right: 1.2rem;
  }
}
.home-secA .secA-wrapper .upper-sec .home-proprty-tab li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: var(--white);
  width: 0;
  transition: 0.5s ease;
}
.home-secA .secA-wrapper .upper-sec .home-proprty-tab li.active {
  color: var(--white);
}
.home-secA .secA-wrapper .upper-sec .home-proprty-tab li.active::before {
  width: 100%;
}
.home-secA .secA-wrapper .upper-sec .property-nav-tab {
  flex: 0 1 auto;
}
@media only screen and (max-width: 767px) {
  .home-secA .secA-wrapper .upper-sec .property-nav-tab {
    display: none;
  }
}
.home-secA .secA-wrapper .home-proprty-tab-content .tabs {
  transition: 0.5s ease;
}
.home-secA .secA-wrapper .home-proprty-tab-content .tabs:not(.active) {
  transform: translateY(20px);
}

.home-secB {
  background: var(--primary);
  padding: 62px 0;
}
@media only screen and (max-width: 1330px) {
  .home-secB {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-secB {
    padding: 38px 0;
  }
}
.home-secB .heading {
  text-align: center;
  position: relative;
  margin-bottom: 4.8rem;
}
@media only screen and (max-width: 1152px) {
  .home-secB .heading {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-secB .heading {
    padding-right: 15px;
  }
}
.home-secB .heading .home-developer-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .home-secB .heading .home-developer-nav {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .home-secB .container-2 {
    padding-right: 0;
  }
}
.home-secB .home-developer-slider .item {
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 29px 12px;
}
.home-secB .home-developer-slider .item figure {
  flex: 0 1 auto;
  line-height: 0;
}
@media only screen and (max-width: 520px) {
  .home-secB .home-developer-slider .item figure {
    flex: 0 1 100%;
    margin-bottom: 12px;
  }
}
.home-secB .home-developer-slider .item figure img {
  height: 86px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 120px;
}
@media only screen and (max-width: 520px) {
  .home-secB .home-developer-slider .item figure img {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.home-secB .home-developer-slider .item figcaption {
  flex: 1;
  padding-left: 1rem;
}
@media only screen and (max-width: 520px) {
  .home-secB .home-developer-slider .item figcaption {
    flex: 0 1 100%;
    padding-left: 0;
    text-align: center;
  }
}
.home-secB .home-developer-slider .item figcaption h6 {
  margin-bottom: 8px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}
@media only screen and (max-width: 520px) {
  .home-secB .home-developer-slider .item figcaption h6 {
    font-size: 16px;
    margin-bottom: 3px;
  }
}
.home-secB .home-developer-slider .item figcaption p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.home-secC {
  background: var(--primary);
  padding: 62px 0;
}
@media only screen and (max-width: 767px) {
  .home-secC {
    padding: 50px 0;
  }
}
.home-secC .heading {
  margin-bottom: 44px;
}
@media only screen and (max-width: 767px) {
  .home-secC .heading {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .home-secC .container-2 {
    padding-right: 0;
  }
}
.home-secC .home-location-tab {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}
.home-secC .home-location-tab::-webkit-scrollbar {
  width: 4px;
  background: none;
  height: 4px;
}
.home-secC .home-location-tab::-webkit-scrollbar-track {
  box-shadow: none;
}
.home-secC .home-location-tab::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
}
.home-secC .home-location-tab li {
  display: inline-block;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
  caret-color: transparent;
  transition: 0.5s ease;
}
.home-secC .home-location-tab li:not(:last-child) {
  margin-right: 2.75rem;
}
@media only screen and (max-width: 1152px) {
  .home-secC .home-location-tab li:not(:last-child) {
    margin-right: 2rem;
  }
}
.home-secC .home-location-tab li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: var(--white);
  width: 0;
  transition: 0.5s ease;
}
.home-secC .home-location-tab li.active {
  color: var(--white);
}
.home-secC .home-location-tab li.active::before {
  width: 100%;
}
.home-secC .home-locaion-tab-content .tabs {
  transition: 1s ease;
}
.home-secC .home-locaion-tab-content .tabs:not(.active) {
  transform: translateY(20px);
}
.home-secC .home-locaion-tab-content .home-locaion-wrap {
  position: relative;
}
.home-secC .home-locaion-tab-content .home-locaion-wrap .home-location-slider {
  max-width: calc(100% - 44px);
}
@media only screen and (max-width: 767px) {
  .home-secC .home-locaion-tab-content .home-locaion-wrap .home-location-slider {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .home-secC .home-locaion-tab-content .home-locaion-wrap .home-location-nav {
    display: none;
  }
}
.home-secC .home-locaion-tab-content .home-locaion-wrap .home-location-nav .home-location-prev.swiper-button-disabled, .home-secC .home-locaion-tab-content .home-locaion-wrap .home-location-nav .home-location-next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.home-secC .home-locaion-tab-content .home-locaion-wrap .home-location-nav .home-location-prev:hover, .home-secC .home-locaion-tab-content .home-locaion-wrap .home-location-nav .home-location-next:hover {
  border-color: var(--white);
}

.home-secD {
  background: var(--primary);
  padding: 5rem 0 9rem;
}
@media only screen and (max-width: 1366px) {
  .home-secD {
    padding: 2rem 0 6rem;
  }
}
@media only screen and (max-width: 767px) {
  .home-secD {
    padding: 1rem 0;
  }
}
.home-secD .flex {
  gap: 67px;
}
@media only screen and (max-width: 1152px) {
  .home-secD .flex {
    gap: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .home-secD .flex {
    gap: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .home-secD .flex {
    gap: 0;
    flex-direction: column-reverse;
  }
}
.home-secD .flex .colA {
  flex: 0 1 55%;
}
@media only screen and (max-width: 1152px) {
  .home-secD .flex .colA {
    flex: 0 1 50%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secD .flex .colA {
    flex: 0 1 40%;
  }
}
@media only screen and (max-width: 767px) {
  .home-secD .flex .colA {
    flex: 0 1 100%;
    margin-top: 3rem;
  }
}
.home-secD .flex .colA .item::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.home-secD .flex .colA .item figure video {
  aspect-ratio: 1.34;
}
@media only screen and (max-width: 767px) {
  .home-secD .flex .colA .item figure video {
    aspect-ratio: initial;
  }
}
.home-secD .flex .colA .item figcaption {
  line-height: 0;
  padding: 0 43px 45px;
  text-align: right;
}
@media only screen and (max-width: 991px) {
  .home-secD .flex .colA .item figcaption {
    padding: 0 20px 20px;
  }
}
@media only screen and (max-width: 991px) {
  .home-secD .flex .colA .item figcaption img {
    max-width: 50px;
  }
}
.home-secD .flex .colB {
  flex: 1;
  padding-top: 2rem;
}
@media only screen and (max-width: 1152px) {
  .home-secD .flex .colB {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  .home-secD .flex .colB {
    padding-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-secD .flex .colB {
    flex: 0 1 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .home-secD .flex .colB .heading {
    text-align: center;
  }
}
.home-secD .flex .colB .content {
  margin: 20px 0 70px;
}
@media only screen and (max-width: 991px) {
  .home-secD .flex .colB .content {
    margin: 18px 0 40px;
  }
}
.home-secD .flex .colB .content p {
  color: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 991px) {
  .home-secD .flex .colB .content p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 675px) {
  .home-secD .flex .colB .content p {
    text-align: center;
  }
}
.home-secD .flex .colB .count-wrap {
  display: flex;
  gap: 63px;
}
@media only screen and (max-width: 991px) {
  .home-secD .flex .colB .count-wrap {
    gap: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .home-secD .flex .colB .count-wrap {
    justify-content: center;
  }
}
.home-secD .flex .colB .count-wrap .count-info {
  color: var(--white);
}
.home-secD .flex .colB .count-wrap .count-info h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .home-secD .flex .colB .count-wrap .count-info h5 {
    font-size: 24px;
  }
}
.home-secD .flex .colB .abt-btn {
  margin-top: 4rem;
}/*# sourceMappingURL=home.css.map */